.basic_info{
    background-color: greenyellow;
    float: left;
    width: 300px;
    height: 80px;
    border: 1px red solid;
}
.info_table{
    background-color: greenyellow;
    float: left;
    width: 1172px;
    height: 80px;
    border: 1px red solid;
}


.feature_list{
    background-color: greenyellow;
    float: left;
    width: 300px;
    height: 650px;
    border: 1px red solid;
}
.graph{
    /* background-color: greenyellow; */
    float: left;
    width: 850px;
    height: 650px;
    border: 1px red solid;
}
.sub_graph_1{
    background-color: greenyellow;
    float: left;
    width: 320px;
    height: 325px;
    border: 1px red solid;
}
.sub_graph_2{
    /* background-color: greenyellow; */
    float: left;
    width: 320px;
    height: 325px;
    border: 1px red solid;
}
.bids_table{
    float: left;
    margin:0 0 0 4%
}
.asks_table{
    float: right;
    margin:0 4% 0 0
}